common --enable_platform_specific_config
common --experimental_announce_profile_path

coverage --combined_report=lcov
# These are required to make coverage work.
coverage --experimental_fetch_all_coverage_outputs
coverage --experimental_split_coverage_postprocessing
# The Coverage report generator can't run remotely because it's missing some
# RE platform options (especially containerImage).
coverage --strategy=CoverageReport=local

build --explicit_java_test_deps
build --nostamp
build --incompatible_strict_action_env
build --verbose_failures

# Java Options
build --java_language_version=17
build --java_runtime_version=remotejdk_17
build --tool_java_language_version=17
build --tool_java_runtime_version=remotejdk_17

test --test_summary=testcase
test --test_output=errors
